### macOS ###
.DS_Store

### Xcode / iOS ###
build/
DerivedData/
*.xcworkspace
*.xcuserdata/
*.xcuserstate
# SwiftPM
.build/
.swiftpm/
# CocoaPods / Carthage
Pods/
Carthage/

### Python ###
venv/
__pycache__/
*.py[cod]

### Misc ###
*.log
